<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">RESET PASSWORD</ion-title>
  </ion-toolbar>
</ion-header>

<p-toast></p-toast>
<ion-content [fullscreen]="true">
  <ion-card style="margin: auto; text-align: center;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <form [formGroup]="forgetPassword">
<ion-list>
  <ion-item>
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-input type="email" formControlName="email" placeholder="Please provide email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="lock-closed" slot="start"></ion-icon>
    <ion-input type="password" formControlName="password" placeholder="Enter new password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="lock-closed" slot="start"></ion-icon>
    <ion-input type="password" formControlName="confirmPassword" placeholder="Re-enter the password"></ion-input>
  </ion-item>
  <br>
  <div class="mr-2">
    <ion-button (click)="submit()" size="small" color="primary">submit</ion-button>&nbsp;
    <ion-button (click)="reset()" size="small" color="light">cancel</ion-button>
    </div>
</ion-list>
</form>
</ion-card>
</ion-content>
