.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Adjust the height and width as needed */
    width: 150px;
    margin: auto;
    margin-top: 50px; /* Adjust the top margin as needed */
  }

.align{
    display:flex;
    justify-content: center;
    align-items: center;
}
