<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Chats </ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="setOpen(true)">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let contact of contactList"
      (click)="onchatClick(contact)"
    >
      <ion-icon
        name="person-circle"
        style="
          font-size: 2em;
          display: flex;
          align-items: center;
          justify-content: center;
          color: blue;
        "
      ></ion-icon>
      <p style="font-size: 24px; margin-left: 8px">{{ contact.name }}</p>
    </ion-item>
  </ion-list>
</ion-content>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Add New Contact</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="addcontactform">
        <ion-list style="align-items: center;">
          <ion-item style="width: 100%;">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input formControlName="name" placeholder="Enter name"></ion-input>
          </ion-item>
          <ion-item style="width: 100%;">
            <ion-icon name="lock-closed-outline"  slot="start"></ion-icon>
            <ion-input type="text" formControlName="phonenumber"  placeholder="Enter phone number"></ion-input>
          </ion-item>
          <br>
          <ion-button style="float: right;" (click)="add()">Add</ion-button>
        </ion-list>
        </form>
    </ion-content>
  </ng-template>
</ion-modal>