<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Font Size</ion-label>
    <ion-select [(ngModel)]="fontSize" (ionChange)="changeFontSize()">
      <ion-select-option value="small">Small</ion-select-option>
      <ion-select-option value="medium">Medium</ion-select-option>
      <ion-select-option value="large">Large</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Font Style</ion-label>
    <ion-select [(ngModel)]="fontStyle" (ionChange)="changeFontStyle()">
      <ion-select-option value="default">Default</ion-select-option>
      <ion-select-option value="italic">Italic</ion-select-option>
      <ion-select-option value="bold">Bold</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Brightness</ion-label>
    <ion-range min="0" max="100" [(ngModel)]="brightness" (ionChange)="changeBrightness()">
      <ion-icon size="small" slot="start" name="sunny-outline"></ion-icon>
      <ion-icon size="small" slot="end" name="sunny"></ion-icon>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-label>Background Color</ion-label>
    <ion-select [(ngModel)]="backgroundColor" (ionChange)="changeBackgroundColor()">
      <ion-select-option value="white">White</ion-select-option>
      <ion-select-option value="lightgray">Light Gray</ion-select-option>
      <ion-select-option value="lightblue">Light Blue</ion-select-option>
      <!-- Add more color options as needed -->
    </ion-select>
  </ion-item>
</ion-content>
